version: 2
jobs:
  unit-php72-magento23:
    docker:
      - image: circleci/php:7.2-apache-node-browsers-legacy
      - image: circleci/mysql:5.7
    steps:
      - checkout
      - run:
          name: PHP 7.2 Magento2.3
          command: |
            MAGENTO_VERSION=2.3.0 Test/scripts/ci.sh
  unit-php71-magento22:
    docker:
      - image: circleci/php:7.1-apache-node-browsers-legacy
      - image: circleci/mysql:5.7
    steps:
      - checkout
      - run:
          name: PHP 7.1 Magento2.2
          command: |
            MAGENTO_VERSION=2.2.0 Test/scripts/ci.sh
  unit-php70-magento22:
    docker:
      - image: circleci/php:7.0-apache-node-browsers-legacy
      - image: circleci/mysql:5.7
    steps:
      - checkout
      - run:
          name: PHP 7.0 Magento2.2
          command: |
            MAGENTO_VERSION=2.2.0 Test/scripts/ci.sh
  phpcs:
    docker:
      - image: circleci/php:7.2-cli
    steps:
      - checkout
      - run:
          name: phpcs MEQP2 standard test
          command: |
            Test/scripts/phpcs_meqp2.sh

workflows:
  version: 2
  build:
    jobs:
      - phpcs
      - unit-php72-magento23
      - unit-php71-magento22
      - unit-php70-magento22
