<?xml version="1.0"?>
<!--
/**
 * Bolt magento2 plugin
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category   Bolt
 * @package    Bolt_Boltpay
 * @copyright  Copyright (c) 2018 Bolt Financial, Inc (https://www.bolt.com)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<!-- Bolt Pay Default Configuration Parameters -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <boltpay>
                <active>0</active>
                <model>Bolt\Boltpay\Model\Payment</model>
                <title>Bolt Pay</title>
                <checkout_type>payment_only_checkout</checkout_type>
                <sandbox_mode>1</sandbox_mode>
                <debug>0</debug>
                <allowspecific>0</allowspecific>
                <order_status>new</order_status>
                <currency>USD</currency>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_use_checkout>1</can_use_checkout>
                <sort_order>0</sort_order>
                <replace_selectors>#top-cart-btn-checkout</replace_selectors>
                <totals_change_selectors>tr.grand.totals td.amount span.price,
tr.shipping.totals td.amount span.price,
.block-minicart .subtitle,
.block-minicart .subtotal .amount.price-container .price-wrapper:first-child .price</totals_change_selectors>
                <global_css>button[data-role=proceed-to-checkout]{display:none!important;}
/* Store Credit */
.cart-container #customerbalance-placer {width: 210px;}
.cart-container #customerbalance-placer .payment-option-title {display: none;}
.cart-container #customerbalance-placer #use-customer-balance {width: 284px;}</global_css>
                <additional_checkout_button_class>with-cards</additional_checkout_button_class>
                <success_page>checkout/onepage/success</success_page>
                <prefetch_shipping>1</prefetch_shipping>
                <reset_shipping_calculation>0</reset_shipping_calculation>
                <minicart_support>1</minicart_support>
                <store_credit>0</store_credit>
                <enable_payment_only_checkout>0</enable_payment_only_checkout>
                <bolt_order_caching>1</bolt_order_caching>
                <api_emulate_session>1</api_emulate_session>
                <should_minify_javascript>1</should_minify_javascript>
                <capture_merchant_metrics>0</capture_merchant_metrics>
                <is_pre_auth>0</is_pre_auth>
            </boltpay>
        </payment>
    </default>
</config>
