<?xml version="1.0"?>
<!--
/**
 * Bolt magento2 plugin
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category   Bolt
 * @package    Bolt_Boltpay
 * @copyright  Copyright (c) 2018 Bolt Financial, Inc (https://www.bolt.com)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<!-- Bolt Dependency Injection Configuration -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Custom logger -->
    <type name="Bolt\Boltpay\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>

    <type name="Bolt\Boltpay\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">Bolt</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Bolt\Boltpay\Logger\Handler</item>
            </argument>
        </arguments>
    </type>

    <!-- For rest api hook integration -->
    <preference for="Bolt\Boltpay\Api\OrderManagementInterface" type="Bolt\Boltpay\Model\Api\OrderManagement" />
    <preference for="Bolt\Boltpay\Api\CreateOrderInterface" type="Bolt\Boltpay\Model\Api\CreateOrder" />

    <!-- For rest api shipping methods -->
    <preference for="Bolt\Boltpay\Api\ShippingMethodsInterface"      type="Bolt\Boltpay\Model\Api\ShippingMethods" />
    <preference for="Bolt\Boltpay\Api\Data\ShippingOptionsInterface" type="Bolt\Boltpay\Model\Api\Data\ShippingOptions" />
    <preference for="Bolt\Boltpay\Api\Data\ShippingOptionInterface"  type="Bolt\Boltpay\Model\Api\Data\ShippingOption" />
    <preference for="Bolt\Boltpay\Api\Data\ShippingTaxInterface"     type="Bolt\Boltpay\Model\Api\Data\ShippingTax" />

    <!-- For rest api discount code validation for gift card module -->
    <preference for="Bolt\Boltpay\Api\DiscountCodeValidationInterface" type="Bolt\Boltpay\Model\Api\DiscountCodeValidation" />

    <!-- For REST feature switch change hook -->
    <preference for="Bolt\Boltpay\Api\FeatureSwitchesHookInterface" type="Bolt\Boltpay\Model\Api\FeatureSwitchesHook" />

    <preference for="Bolt\Boltpay\Api\Data\FeatureSwitchInterface" type="Bolt\Boltpay\Model\FeatureSwitch"/>
    <preference for="Bolt\Boltpay\Api\FeatureSwitchRepositoryInterface" type="Bolt\Boltpay\Model\FeatureSwitchRepository"/>

    <virtualType name="boltGiftCardAccount" type="Bolt\Boltpay\Model\ThirdPartyModuleFactory">
        <arguments>
            <argument name="moduleName" xsi:type="string">Magento_GiftCardAccount</argument>
            <argument name="className" xsi:type="string">Magento\GiftCardAccount\Model\ResourceModel\Giftcardaccount\Collection</argument>
        </arguments>
    </virtualType>

    <virtualType name="boltUnirgyGiftCert" type="Bolt\Boltpay\Model\ThirdPartyModuleFactory">
        <arguments>
            <argument name="moduleName" xsi:type="string">Unirgy_Giftcert</argument>
            <argument name="className" xsi:type="string">Unirgy\Giftcert\Model\GiftcertRepository</argument>
        </arguments>
    </virtualType>

    <virtualType name="boltUnirgyGiftCertHelper" type="Bolt\Boltpay\Model\ThirdPartyModuleFactory">
        <arguments>
            <argument name="moduleName" xsi:type="string">Unirgy_Giftcert</argument>
            <argument name="className" xsi:type="string">Unirgy\Giftcert\Helper\Data</argument>
        </arguments>
    </virtualType>

    <type name="Bolt\Boltpay\Model\Api\DiscountCodeValidation">
        <arguments>
            <argument name="moduleGiftCardAccount" xsi:type="object">boltGiftCardAccount</argument>
            <argument name="moduleUnirgyGiftCert" xsi:type="object">boltUnirgyGiftCert</argument>
            <argument name="moduleUnirgyGiftCertHelper" xsi:type="object">boltUnirgyGiftCertHelper</argument>
        </arguments>
    </type>

    <virtualType name="boltAmastyAccount" type="Bolt\Boltpay\Model\ThirdPartyModuleFactory">
        <arguments>
            <argument name="moduleName" xsi:type="string">Amasty_GiftCard</argument>
            <argument name="className" xsi:type="string">Amasty\GiftCard\Model\Account</argument>
        </arguments>
    </virtualType>

    <virtualType name="boltAmastyAccountFactory" type="Bolt\Boltpay\Model\ThirdPartyModuleFactory">
        <arguments>
            <argument name="moduleName" xsi:type="string">Amasty_GiftCard</argument>
            <argument name="className" xsi:type="string">Amasty\GiftCard\Model\AccountFactory</argument>
        </arguments>
    </virtualType>

    <virtualType name="boltAmastyGiftCardManagement" type="Bolt\Boltpay\Model\ThirdPartyModuleFactory">
        <arguments>
            <argument name="moduleName" xsi:type="string">Amasty_GiftCard</argument>
            <argument name="className" xsi:type="string">Amasty\GiftCard\Model\GiftCardManagement</argument>
        </arguments>
    </virtualType>

    <virtualType name="boltAmastyQuoteFactory" type="Bolt\Boltpay\Model\ThirdPartyModuleFactory">
        <arguments>
            <argument name="moduleName" xsi:type="string">Amasty_GiftCard</argument>
            <argument name="className" xsi:type="string">Amasty\GiftCard\Model\QuoteFactory</argument>
        </arguments>
    </virtualType>

    <virtualType name="boltAmastyQuoteResource" type="Bolt\Boltpay\Model\ThirdPartyModuleFactory">
        <arguments>
            <argument name="moduleName" xsi:type="string">Amasty_GiftCard</argument>
            <argument name="className" xsi:type="string">Amasty\GiftCard\Model\ResourceModel\Quote</argument>
        </arguments>
    </virtualType>

    <virtualType name="boltAmastyQuoteRepository" type="Bolt\Boltpay\Model\ThirdPartyModuleFactory">
        <arguments>
            <argument name="moduleName" xsi:type="string">Amasty_GiftCard</argument>
            <argument name="className" xsi:type="string">Amasty\GiftCard\Model\Repository\QuoteRepository</argument>
        </arguments>
    </virtualType>

    <virtualType name="boltAmastyAccountCollection" type="Bolt\Boltpay\Model\ThirdPartyModuleFactory">
        <arguments>
            <argument name="moduleName" xsi:type="string">Amasty_GiftCard</argument>
            <argument name="className" xsi:type="string">Amasty\GiftCard\Model\ResourceModel\Account\Collection</argument>
        </arguments>
    </virtualType>

    <virtualType name="boltUnirgyCertRepository" type="Bolt\Boltpay\Model\ThirdPartyModuleFactory">
        <arguments>
            <argument name="moduleName" xsi:type="string">Unirgy_Giftcert</argument>
            <argument name="className" xsi:type="string">Unirgy\Giftcert\Model\GiftcertRepository</argument>
        </arguments>
    </virtualType>

    <virtualType name="boltMirasvitStoreCreditHelper" type="Bolt\Boltpay\Model\ThirdPartyModuleFactory">
        <arguments>
            <argument name="moduleName" xsi:type="string">Mirasvit_Credit</argument>
            <argument name="className" xsi:type="string">Mirasvit\Credit\Helper\Data</argument>
        </arguments>
    </virtualType>

    <virtualType name="boltMirasvitStoreCreditCalculationHelper" type="Bolt\Boltpay\Model\ThirdPartyModuleFactory">
        <arguments>
            <argument name="moduleName" xsi:type="string">Mirasvit_Credit</argument>
            <argument name="className" xsi:type="string">Mirasvit\Credit\Helper\Calculation</argument>
        </arguments>
    </virtualType>

    <virtualType name="boltMirasvitStoreCreditCalculationConfig" type="Bolt\Boltpay\Model\ThirdPartyModuleFactory">
        <arguments>
            <argument name="moduleName" xsi:type="string">Mirasvit_Credit</argument>
            <argument name="className" xsi:type="string">Mirasvit\Credit\Api\Config\CalculationConfigInterface</argument>
        </arguments>
    </virtualType>

    <virtualType name="boltMirasvitStoreCreditConfig" type="Bolt\Boltpay\Model\ThirdPartyModuleFactory">
        <arguments>
            <argument name="moduleName" xsi:type="string">Mirasvit_Credit</argument>
            <argument name="className" xsi:type="string">Mirasvit\Credit\Model\Config</argument>
        </arguments>
    </virtualType>

    <virtualType name="boltMirasvitRewardsPurchaseHelper" type="Bolt\Boltpay\Model\ThirdPartyModuleFactory">
        <arguments>
            <argument name="moduleName" xsi:type="string">Mirasvit_Rewards</argument>
            <argument name="className" xsi:type="string">Mirasvit\Rewards\Helper\Purchase</argument>
        </arguments>
    </virtualType>

    <type name="Mirasvit\Rewards\Model\Purchase">
        <plugin name="Bolt_Boltpay_Mirasvit_Rewards_Model_PurchasePlugin" type="Bolt\Boltpay\Plugin\Mirasvit\Rewards\Model\PurchasePlugin" sortOrder="1" />
    </type>

    <virtualType name="boltMageplazaGiftCardFactory" type="Bolt\Boltpay\Model\ThirdPartyModuleFactory">
        <arguments>
            <argument name="moduleName" xsi:type="string">Mageplaza_GiftCard</argument>
            <argument name="className" xsi:type="string">Mageplaza\GiftCard\Model\GiftCard</argument>
        </arguments>
    </virtualType>

    <virtualType name="boltMageplazaGiftCardCollection" type="Bolt\Boltpay\Model\ThirdPartyModuleFactory">
        <arguments>
            <argument name="moduleName" xsi:type="string">Mageplaza_GiftCard</argument>
            <argument name="className" xsi:type="string">Mageplaza\GiftCard\Model\ResourceModel\GiftCard\Collection</argument>
        </arguments>
    </virtualType>

    <virtualType name="boltAmastyRewardsResourceQuote" type="Bolt\Boltpay\Model\ThirdPartyModuleFactory">
        <arguments>
            <argument name="moduleName" xsi:type="string">Amasty_Rewards</argument>
            <argument name="className" xsi:type="string">Amasty\Rewards\Model\ResourceModel\Quote</argument>
        </arguments>
    </virtualType>

    <virtualType name="boltAmastyRewardsQuote" type="Bolt\Boltpay\Model\ThirdPartyModuleFactory">
        <arguments>
            <argument name="moduleName" xsi:type="string">Amasty_Rewards</argument>
            <argument name="className" xsi:type="string">Amasty\Rewards\Model\Quote</argument>
        </arguments>
    </virtualType>

    <virtualType name="boltAheadworksCustomerStoreCreditManagementInterface" type="Bolt\Boltpay\Model\ThirdPartyModuleFactory">
        <arguments>
            <argument name="moduleName" xsi:type="string">Aheadworks_StoreCredit</argument>
            <argument name="className" xsi:type="string">Aheadworks\StoreCredit\Api\CustomerStoreCreditManagementInterface</argument>
        </arguments>
    </virtualType>

    <virtualType name="boltBssStoreCreditCollection" type="Bolt\Boltpay\Model\ThirdPartyModuleFactory">
        <arguments>
            <argument name="moduleName" xsi:type="string">Bss_StoreCredit</argument>
            <argument name="className" xsi:type="string">Bss\StoreCredit\Model\ResourceModel\Credit\Collection</argument>
        </arguments>
    </virtualType>

    <virtualType name="boltBssStoreCreditHelper" type="Bolt\Boltpay\Model\ThirdPartyModuleFactory">
        <arguments>
            <argument name="moduleName" xsi:type="string">Bss_StoreCredit</argument>
            <argument name="className" xsi:type="string">Bss\StoreCredit\Helper\Data</argument>
        </arguments>
    </virtualType>


    <type name="Bolt\Boltpay\Helper\Discount">
        <arguments>
            <argument name="amastyAccountFactory" xsi:type="object">boltAmastyAccountFactory</argument>
            <argument name="amastyGiftCardManagement" xsi:type="object">boltAmastyGiftCardManagement</argument>
            <argument name="amastyQuoteFactory" xsi:type="object">boltAmastyQuoteFactory</argument>
            <argument name="amastyQuoteResource" xsi:type="object">boltAmastyQuoteResource</argument>
            <argument name="amastyQuoteRepository" xsi:type="object">boltAmastyQuoteRepository</argument>
            <argument name="amastyAccountCollection" xsi:type="object">boltAmastyAccountCollection</argument>
            <argument name="unirgyCertRepository" xsi:type="object">boltUnirgyCertRepository</argument>
            <argument name="mirasvitStoreCreditHelper" xsi:type="object">boltMirasvitStoreCreditHelper</argument>
            <argument name="mirasvitStoreCreditCalculationHelper" xsi:type="object">boltMirasvitStoreCreditCalculationHelper</argument>
            <argument name="mirasvitStoreCreditCalculationConfig" xsi:type="object">boltMirasvitStoreCreditCalculationConfig</argument>
            <argument name="mirasvitStoreCreditConfig" xsi:type="object">boltMirasvitStoreCreditConfig</argument>
            <argument name="mirasvitRewardsPurchaseHelper" xsi:type="object">boltMirasvitRewardsPurchaseHelper</argument>
            <argument name="mageplazaGiftCardCollection" xsi:type="object">boltMageplazaGiftCardCollection</argument>
            <argument name="mageplazaGiftCardFactory" xsi:type="object">boltMageplazaGiftCardFactory</argument>
            <argument name="amastyRewardsResourceQuote" xsi:type="object">boltAmastyRewardsResourceQuote</argument>
            <argument name="amastyRewardsQuote" xsi:type="object">boltAmastyRewardsQuote</argument>
            <argument name="aheadworksCustomerStoreCreditManagement" xsi:type="object">boltAheadworksCustomerStoreCreditManagementInterface</argument>
            <argument name="bssStoreCreditCollection" xsi:type="object">boltBssStoreCreditCollection</argument>
            <argument name="bssStoreCreditHelper" xsi:type="object">boltBssStoreCreditHelper</argument>
        </arguments>
    </type>

    <type name="Magento\Quote\Model\Quote">
        <plugin name="Bolt_Boltpay_Quote_Plugin" type="Bolt\Boltpay\Plugin\QuotePlugin" sortOrder="1" />
    </type>

    <type name="Magento\Framework\RequireJs\Config\File\Collector\Aggregated">
        <plugin name="Bolt_Boltpay_RequireJs_Plugin" type="Bolt\Boltpay\Plugin\RequireJs" sortOrder="1" />
    </type>

    <type name="Magento\Sales\Model\Order\Email\Sender\OrderSender">
        <plugin name="Bolt_Boltpay_OrderSender_Plugin" type="Bolt\Boltpay\Plugin\OrderSenderPlugin" sortOrder="1" />
    </type>

    <type name="Magento\Sales\Model\Order">
        <plugin name="Bolt_Boltpay_Order_Plugin" type="Bolt\Boltpay\Plugin\OrderPlugin" sortOrder="1" />
    </type>
</config>
