<?xml version="1.0"?>
<!--
/**
 * Bolt magento2 plugin
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category   Bolt
 * @package    Bolt_Boltpay
 * @copyright  Copyright (c) 2017-2020 Bolt Financial, Inc (https://www.bolt.com)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<!-- Bolt Dependency Injection Configuration -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Custom logger -->
    <type name="Bolt\Boltpay\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>

    <type name="Bolt\Boltpay\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">Bolt</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Bolt\Boltpay\Logger\Handler</item>
            </argument>
        </arguments>
    </type>

    <!-- For V2 universal endpoint -->
    <preference for="Bolt\Boltpay\Api\UniversalApiInterface" type="Bolt\Boltpay\Model\Api\UniversalApi" />
    <preference for="Bolt\Boltpay\Api\Data\UniversalApiResultInterface" type="Bolt\Boltpay\Model\Api\Data\UniversalApiResult" />
    <preference for="Bolt\Boltpay\Api\UniversalWebhookInterface" type="Bolt\Boltpay\Model\Api\UniversalWebhook" />
    <preference for="Bolt\Boltpay\Api\Data\UniversalWebhookResultInterface" type="Bolt\Boltpay\Model\Api\Data\UniversalWebhookResult" />

    <!-- For rest api hook integration -->
    <preference for="Bolt\Boltpay\Api\OrderManagementInterface" type="Bolt\Boltpay\Model\Api\OrderManagement" />
    <preference for="Bolt\Boltpay\Api\CreateOrderInterface" type="Bolt\Boltpay\Model\Api\CreateOrder" />

    <!-- For rest api shipping methods -->
    <preference for="Bolt\Boltpay\Api\ShippingMethodsInterface"      type="Bolt\Boltpay\Model\Api\ShippingMethods" />
    <preference for="Bolt\Boltpay\Api\Data\ShippingOptionsInterface" type="Bolt\Boltpay\Model\Api\Data\ShippingOptions" />
    <preference for="Bolt\Boltpay\Api\Data\ShippingOptionInterface"  type="Bolt\Boltpay\Model\Api\Data\ShippingOption" />
    <preference for="Bolt\Boltpay\Api\Data\ShippingTaxInterface"     type="Bolt\Boltpay\Model\Api\Data\ShippingTax" />

    <preference for="Bolt\Boltpay\Api\ShippingInterface"          type="Bolt\Boltpay\Model\Api\Shipping" />
    <preference for="Bolt\Boltpay\Api\Data\ShippingDataInterface" type="Bolt\Boltpay\Model\Api\Data\ShippingData" />

    <preference for="Bolt\Boltpay\Api\TaxInterface"            type="Bolt\Boltpay\Model\Api\Tax" />
    <preference for="Bolt\Boltpay\Api\Data\TaxDataInterface"   type="Bolt\Boltpay\Model\Api\Data\TaxData" />
    <preference for="Bolt\Boltpay\Api\Data\TaxResultInterface" type="Bolt\Boltpay\Model\Api\Data\TaxResult" />

    <!-- For rest api discount code validation for gift card module -->
    <preference for="Bolt\Boltpay\Api\DiscountCodeValidationInterface" type="Bolt\Boltpay\Model\Api\DiscountCodeValidation" />

    <!-- For REST feature switch change hook -->
    <preference for="Bolt\Boltpay\Api\FeatureSwitchesHookInterface" type="Bolt\Boltpay\Model\Api\FeatureSwitchesHook" />

    <preference for="Bolt\Boltpay\Api\Data\FeatureSwitchInterface" type="Bolt\Boltpay\Model\FeatureSwitch"/>
    <preference for="Bolt\Boltpay\Api\FeatureSwitchRepositoryInterface" type="Bolt\Boltpay\Model\FeatureSwitchRepository"/>

    <!-- For debug endpoint -->
    <preference for="Bolt\Boltpay\Api\DebugInterface" type="Bolt\Boltpay\Model\Api\Debug" />

    <!-- For debug save endpoint -->
    <preference for="Bolt\Boltpay\Api\UpdateSettingsInterface" type="Bolt\Boltpay\Model\Api\UpdateSettings" />

    <!-- For update cart endpoint -->
    <preference for="Bolt\Boltpay\Api\UpdateCartInterface" type="Bolt\Boltpay\Model\Api\UpdateCart" />
    <preference for="Bolt\Boltpay\Api\Data\CartDataInterface"   type="Bolt\Boltpay\Model\Api\Data\CartData" />
    <preference for="Bolt\Boltpay\Api\Data\UpdateCartResultInterface" type="Bolt\Boltpay\Model\Api\Data\UpdateCartResult" />

    <virtualType name="boltUnirgyGiftCert" type="Bolt\Boltpay\Model\ThirdPartyModuleFactory">
        <arguments>
            <argument name="moduleName" xsi:type="string">Unirgy_Giftcert</argument>
            <argument name="className" xsi:type="string">Unirgy\Giftcert\Model\GiftcertRepository</argument>
        </arguments>
    </virtualType>

    <virtualType name="boltUnirgyGiftCertHelper" type="Bolt\Boltpay\Model\ThirdPartyModuleFactory">
        <arguments>
            <argument name="moduleName" xsi:type="string">Unirgy_Giftcert</argument>
            <argument name="className" xsi:type="string">Unirgy\Giftcert\Helper\Data</argument>
        </arguments>
    </virtualType>

    <type name="Mirasvit\Rewards\Model\Purchase">
        <plugin name="Bolt_Boltpay_Mirasvit_Rewards_Model_PurchasePlugin" type="Bolt\Boltpay\Plugin\Mirasvit\Rewards\Model\PurchasePlugin" sortOrder="1" />
    </type>

    <type name="Mirasvit\RewardsCheckout\Controller\Checkout\ApplyPointsPost">
        <plugin name="Bolt_Boltpay_Mirasvit_RewardsCheckout_Controller_Checkout_ApplyPointsPostPlugin" type="Bolt\Boltpay\Plugin\Mirasvit\RewardsCheckout\Controller\Checkout\ApplyPointsPostPlugin" sortOrder="1" />
    </type>

    <type name="Mirasvit\Rewards\Model\Total\Quote\Discount">
        <plugin name="Bolt_Boltpay_Mirasvit_Rewards_Model_Total_Quote_DiscountPlugin" type="Bolt\Boltpay\Plugin\Mirasvit\Rewards\Model\Total\Quote\DiscountPlugin" sortOrder="1" />
    </type>

    <type name="Mirasvit\Credit\Model\Total\Quote\Credit">
        <plugin name="Bolt_Boltpay_Mirasvit_Store_Credit_Model_Total_Quote_CreditPlugin" type="Bolt\Boltpay\Plugin\Mirasvit\Credit\Model\Total\Quote\CreditPlugin" sortOrder="1" />
    </type>

    <type name="Bolt\Boltpay\Helper\Discount">
        <arguments>
            <argument name="unirgyCertRepository" xsi:type="object">boltUnirgyGiftCert</argument>
            <argument name="unirgyGiftCertHelper" xsi:type="object">boltUnirgyGiftCertHelper</argument>
        </arguments>
    </type>

    <!-- When adding any plugin, you MUST wrap the plugin in a feature switch -->
    <type name="Magento\Quote\Model\Quote">
        <plugin name="Bolt_Boltpay_Quote_Plugin" type="Bolt\Boltpay\Plugin\QuotePlugin" sortOrder="1" />
    </type>

    <type name="Magento\Sales\Model\Order\Email\Sender\OrderSender">
        <plugin name="Bolt_Boltpay_OrderSender_Plugin" type="Bolt\Boltpay\Plugin\OrderSenderPlugin" sortOrder="1" />
    </type>

    <type name="Magento\Sales\Model\Order">
        <plugin name="Bolt_Boltpay_Order_Plugin" type="Bolt\Boltpay\Plugin\OrderPlugin" sortOrder="1" />
    </type>

    <type name="Magento\GiftCard\Observer\GenerateGiftCardAccountsOrder">
        <plugin name="BoltBoltpayGenerateGiftCardAccountsOrder"
                type="Bolt\Boltpay\Plugin\Magento\GiftCard\GenerateGiftCardAccountsOrderPlugin"
                sortOrder="1"/>
    </type>

    <type name="Magento\Checkout\Model\Session">
        <plugin name="BoltBoltpayRestoreQuotePlugin"
                type="Bolt\Boltpay\Plugin\RestoreQuotePlugin"
                sortOrder="1"/>
    </type>

    <type name="Magento\Sales\Api\OrderManagementInterface">
        <plugin name="BoltNonBoltOrderPlugin"
                type="Bolt\Boltpay\Plugin\NonBoltOrderPlugin"
                sortOrder="1"/>
    </type>

    <type name="MageVision\FreeShippingAdmin\Model\Carrier\Method">
        <plugin name="BoltBoltPayFreeShippingAdminPlugin" type="Bolt\Boltpay\Plugin\MageVision\FreeShippingAdmin\MethodPlugin" sortOrder="1"/>
    </type>

    <type name="Bolt\Boltpay\Helper\FeatureSwitch\Decider">
        <arguments>
            <argument name="coreSession" xsi:type="object">Magento\Framework\Session\SessionManagerInterface\Proxy</argument>
        </arguments>
    </type>

    <type name="Magento\GiftCardAccount\Observer\TogglePaymentMethods">
        <plugin name="BoltTogglePaymentMethodsPlugin"
                type="Bolt\Boltpay\Plugin\Magento\TogglePaymentMethodsPlugin"
                sortOrder="1"/>
    </type>

    <type name="Magento\CustomerBalance\Observer\TogglePaymentMethodsObserver">
        <plugin name="BoltTogglePaymentMethodsObserverPlugin"
                type="Bolt\Boltpay\Plugin\Magento\TogglePaymentMethodsPlugin"
                sortOrder="1"/>
    </type>

    <type name="Magento\Reward\Observer\PreparePaymentMethod">
        <plugin name="BoltPreparePaymentMethodPlugin"
                type="Bolt\Boltpay\Plugin\Magento\TogglePaymentMethodsPlugin"
                sortOrder="1"/>
    </type>

    <type name="Magento\SalesRule\Model\Rule\Action\Discount\AbstractDiscount">
        <plugin name="Bolt_Boltpay_SalesRule_Action_Discount_Plugin"
                type="Bolt\Boltpay\Plugin\SalesRuleActionDiscountPlugin"
                sortOrder="20"/>
    </type>

    <type name="Magento\SalesRule\Model\Quote\Discount">
        <plugin name="Bolt_Boltpay_SalesRule_Quote_Discount_Plugin"
                type="Bolt\Boltpay\Plugin\SalesRuleQuoteDiscountPlugin"
                sortOrder="1"/>
    </type>

    <type name="Magento\Quote\Observer\Frontend\Quote\Address\CollectTotalsObserver">
        <plugin name="bolt_boltpay_magento_quote_observer_frontend_quote_address_collect_totals_observer_plugin"
                type="Bolt\Boltpay\Plugin\Magento\Quote\Observer\Frontend\Quote\Address\AddressCollectTotalsObserverPlugin"
                sortOrder="10"/>
    </type>

    <type name="Bolt\Boltpay\Helper\Order">
        <arguments>
            <argument name="adminOrderCreateModel" xsi:type="object">Magento\Sales\Model\AdminOrder\Create\Proxy</argument>
        </arguments>
    </type>

    <!-- TaxJar Support - force rounding to 2 decimal points fix -->
    <type name="Taxjar\SalesTax\Model\Smartcalcs">
        <plugin name="bolt_boltpay_taxjar_salestax_model_smartcalcs_plugin"
                type="Bolt\Boltpay\Plugin\Taxjar\SalesTax\Model\SmartcalcsPlugin"/>
    </type>
</config>
