<?xml version="1.0"?>
<!--
/**
 * Bolt magento2 plugin
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category   Bolt
 * @package    Bolt_Boltpay
 * @copyright  Copyright (c) 2018 Bolt Financial, Inc (https://www.bolt.com)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<!-- Bolt Dependency Injection Configuration -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Custom logger -->
    <type name="Bolt\Boltpay\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>

    <type name="Bolt\Boltpay\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">Bolt</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Bolt\Boltpay\Logger\Handler</item>
            </argument>
        </arguments>
    </type>

    <!-- For rest api hook integration -->
    <preference for="Bolt\Boltpay\Api\OrderManagementInterface" type="Bolt\Boltpay\Model\Api\OrderManagement" />

    <!-- For rest api shipping methods -->
    <preference for="Bolt\Boltpay\Api\ShippingMethodsInterface"      type="Bolt\Boltpay\Model\Api\ShippingMethods" />
    <preference for="Bolt\Boltpay\Api\Data\ShippingOptionsInterface" type="Bolt\Boltpay\Model\Api\Data\ShippingOptions" />
    <preference for="Bolt\Boltpay\Api\Data\ShippingOptionInterface"  type="Bolt\Boltpay\Model\Api\Data\ShippingOption" />
    <preference for="Bolt\Boltpay\Api\Data\ShippingTaxInterface"     type="Bolt\Boltpay\Model\Api\Data\ShippingTax" />

    <!-- For rest api discount code validation -->
    <preference for="Bolt\Boltpay\Api\DiscountCodeValidationInterface" type="Bolt\Boltpay\Model\Api\DiscountCodeValidation" />

    <virtualType name="boltGiftCardAccount" type="Bolt\Boltpay\Model\ThirdPartyModuleFactory">
        <arguments>
            <argument name="instanceName" xsi:type="string">Magento\GiftCardAccount\Model\Giftcardaccount</argument>
        </arguments>
    </virtualType>

    <type name="Bolt\Boltpay\Model\Api\DiscountCodeValidation">
        <arguments>
            <argument name="giftCardAccount" xsi:type="object">boltGiftCardAccount</argument>
        </arguments>
    </type>
</config>
