<?xml version="1.0"?>
<!--
/**
 * Bolt magento2 plugin
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category   Bolt
 * @package    Bolt_Boltpay
 * @copyright  Copyright (c) 2017-2022 Bolt Financial, Inc (https://www.bolt.com)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Authorization\Model\CompositeUserContext">
        <arguments>
            <argument name="userContexts" xsi:type="array">
                <item name="hookContext" xsi:type="array">
                    <item name="type" xsi:type="object">Bolt\Boltpay\Model\Authorization\HookContext</item>
                    <item name="sortOrder" xsi:type="string">90</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Quote\Model\Quote">
        <plugin name="bolt_boltpay_webapirest_magento_quote_model_quote"
                type="Bolt\Boltpay\Plugin\WebapiRest\Magento\Quote\Model\QuotePlugin"
                sortOrder="1"/>
    </type>
    <virtualType name="boltRouteQuoteClient" type="Bolt\Boltpay\Model\ThirdPartyModuleFactory">
        <arguments>
            <argument name="moduleName" xsi:type="string">Route_Route</argument>
            <argument name="className" xsi:type="string">Route\Route\Model\Route\Quote</argument>
        </arguments>
    </virtualType>

    <type name="Route\Route\Helper\Data">
        <plugin name="bolt_boltpay_webapirest_override_route_is_enabled_helper_function"
                type="Bolt\Boltpay\Plugin\WebapiRest\Route\Route\Helper\DataPlugin"
                sortOrder="1"/>
    </type>
    <type name="Route\Route\Helper\Data">
        <plugin name="bolt_boltpay_webapirest_override_quote_getter_function"
                type="Bolt\Boltpay\Plugin\WebapiRest\Route\Route\Helper\DataPlugin"
                sortOrder="1"/>
    </type>
    <type name="Bolt\Boltpay\Plugin\WebapiRest\Route\Route\Helper\DataPlugin">
        <arguments>
            <argument>boltRouteQuoteClient</argument>
        </arguments>
    </type>
</config>
