<?xml version="1.0"?>
<!--
/**
 * Bolt magento2 plugin
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category   Bolt
 * @package    Bolt_Boltpay
 * @copyright  Copyright (c) 2017-2020 Bolt Financial, Inc (https://www.bolt.com)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<!-- Bolt Frontend Dependency Injection Configuration -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Url\SecurityInfo">
        <arguments>
            <argument name="secureUrlList" xsi:type="array">
                <item name="boltpay_cart" xsi:type="string">/boltpay/cart/</item>
                <item name="boltpay_order" xsi:type="string">/boltpay/order/</item>
            </argument>
        </arguments>
    </type>
    <type name="Bolt\Boltpay\Helper\Cart">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session</argument>
        </arguments>
    </type>
    <type name="Magento\Checkout\Model\Session">
        <plugin name="BoltClearQuoteAfterOrderCompletion" type="Bolt\Boltpay\Plugin\ClearQuote" />
    </type>
    <type name="Magento\Customer\Controller\Ajax\Login">
        <plugin name="Bolt_Boltpay_Login_Plugin" type="Bolt\Boltpay\Plugin\LoginPlugin" sortOrder="1" />
    </type>
    <type name="Magento\Customer\Controller\Account\LoginPost">
        <plugin name="Bolt_Boltpay_LoginPost_Plugin" type="Bolt\Boltpay\Plugin\LoginPostPlugin" sortOrder="1" />
    </type>
    <type name="Amasty\GiftCard\Controller\Cart\Remove">
        <plugin name="Bolt_Boltpay_Amasty_GiftCard_Remove_Plugin" type="Bolt\Boltpay\Plugin\AmastyGiftCardRemovePlugin" sortOrder="1" />
    </type>

    <type name="Magento\Checkout\Block\Cart\Totals">
        <arguments>
            <argument name="layoutProcessors" xsi:type="array">
                <item name="componentSwitcher" xsi:type="object">Bolt\Boltpay\Block\Checkout\Cart\ComponentSwitcherProcessor</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Checkout\Block\Onepage">
        <arguments>
            <argument name="layoutProcessors" xsi:type="array">
                <item name="componentSwitcher" xsi:type="object">Bolt\Boltpay\Block\Checkout\ComponentSwitcherProcessor</item>
            </argument>
        </arguments>
    </type>

    <type name="Bolt\Boltpay\Block\Js">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session</argument>
        </arguments>
    </type>

    <type name="Magento\Framework\RequireJs\Config\File\Collector\Aggregated">
        <plugin name="Bolt_Boltpay_RequireJs_Plugin" type="Bolt\Boltpay\Plugin\RequireJs" sortOrder="1" />
    </type>

    <type name="Magento\Customer\CustomerData\SectionPoolInterface">
        <arguments>
            <argument name="sectionSourceMap" xsi:type="array">
                <item name="bolthints" xsi:type="string">Bolt\Boltpay\Section\CustomerData\BoltHints</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Customer\CustomerData\SectionPoolInterface">
        <arguments>
            <argument name="sectionSourceMap" xsi:type="array">
                <item name="boltcart" xsi:type="string">Bolt\Boltpay\Section\CustomerData\BoltCart</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Reward\Controller\Cart\Remove">
        <plugin sortOrder="1" name="boltBoltpayRemove"
                type="Bolt\Boltpay\Plugin\Magento\Rewards\Controller\Cart\RemoveActionPlugin"/>
    </type>
</config>
