<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!-- When adding any observer, you MUST wrap the observer in a feature switch -->
    <event name="layout_generate_blocks_after">
        <observer name="removeLoginBoltSSO" instance="Bolt\Boltpay\Observer\RemoveBlocksObserver" />
    </event>
    <event name="controller_action_predispatch">
        <observer name="bolt_boltpay_controller_action_predispatch_prevent_customer_edit"
                  instance="Bolt\Boltpay\Observer\PreventCustomerEdit" />
    </event>
    <event name="checkout_cart_product_add_after">
        <observer name="boltpaycustomprice" instance="Webkul\Hello\Observer\CustomPrice" />
    </event>
</config>
