<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Config\Model\Config">
        <plugin name="Bolt_BoltPay_Check_Settings_Update" type="Bolt\Boltpay\Plugin\CheckSettingsUpdate" />
    </type>

    <type name="Bolt\Boltpay\Helper\Cart">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Backend\Model\Session\Quote</argument>
        </arguments>
    </type>

    <type name="Bolt\Boltpay\Block\Js">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Backend\Model\Session\Quote</argument>
        </arguments>
    </type>
    <type name="Bolt\Boltpay\Block\Form">
        <arguments>
            <argument name="magentoQuote" xsi:type="object">Magento\Backend\Model\Session\Quote</argument>
        </arguments>
    </type>

    <type name="Mirasvit\Credit\Observer\QuotePaymentImportDataBefore">
        <plugin name="Bolt_Boltpay_Mirasvit_Credit_QuotePaymentImportDataBefore_Plugin" type="Bolt\Boltpay\Plugin\MirasvitCreditQuotePaymentImportDataBeforePlugin" sortOrder="1" />
    </type>

    <type name="Magento\Sales\Model\AdminOrder\Create">
        <plugin name="BoltBoltpayCreatePlugin" type="Bolt\Boltpay\Plugin\Magento\Sales\Model\AdminOrder\CreatePlugin" sortOrder="1"/>
    </type>
</config>