<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="adminhtml_sales_order_create_process_data">
        <observer name="bolt_legacy_admin_order_create_fix" instance="Bolt\Boltpay\Observer\Adminhtml\Sales\OrderCreateProcessDataObserver" />
    </event>
    <event name="sales_order_place_before">
        <observer name="recharge_customer_if_an_existing_Bolt_credit_card_is_used" instance="Bolt\Boltpay\Observer\Adminhtml\Sales\RechargeCustomer" />
    </event>

    <event name="checkout_submit_all_after">
        <observer name="create_invoice_for_recharged_order" instance="Bolt\Boltpay\Observer\Adminhtml\Sales\CreateInvoiceForRechargedOrder" />
    </event>
</config>
