<?xml version="1.0"?>
<!--
/**
 * Copyright © 2013-2017 Bolt, Inc. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Define Bolt Pay Admin Route
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="boltpay" frontName="boltpay">
            <module name="Bolt_Boltpay" before="Magento_Backend" />
        </route>
    </router>
</config>
